
/*

Design by Free CSS Templates

http://www.freecsstemplates.org

Released for free under a Creative Commons Attribution 2.5 License

*/



body {
	padding-left: 20px;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height:120%;
	color: #414141;
}

h1, h2, h3 {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #534d3f;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
/*	line-height: 120%; */
}

ul, ol {
}

li{
	margin: 5px 0;  /* some space between list item lines*/
}

a {
	text-decoration: none;
	color: #2967c2;
}

blockquote {
    text-align:justify;
    padding:10px;    
}


#wrapper {
	width: 968px;
	margin: auto;
}

#header {
	height: 100px;
	margin-left: 50px;
	margin-bottom:  20px;
}

#logo {
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: auto;
	color: #616160;
}

#content {
	float: left;
	width: 750px;
	padding: 0px 60px 0 60px;
}

.post {
	margin-bottom: 8px;
}

.post .title {
	padding-top: 0px;
	padding-bottom: 00px;
	padding-left: 20px;
	color: #555555;
}

.post .title a {
	color: #555555;
	border: none;
}

.post .entry {
	padding: 20px 20px 20px 20px;
	text-align: normal;
}


/* Menu boxes are used on the index.html for the table based menu*/
#linksbox {
	padding: 20px 20px 20px 20px;
}

#menubox {
	padding: 20px 20px 20px 20px;
}

#menuboxicon img {
        margin-top: 20px;
        margin-left: 720px;
        padding: 0px 0 0px 0;
}
#menuboxlabel {
	margin-top: -70px;
    padding: 0px 0 0px 830px;
    font-family: Arial, Helvetica, sans-serif;
}
#menuboxlabel p {
	font-size: 1.3em;
    color: #f54d26;
}

#menuboxentry {
    padding: 0px 0 0px 830px;
    font-family: Arial, Helvetica, sans-serif;
}
#menuboxentry p {
    margin-top: -20px;
    color: #202020;
}

#footerlinks {
	width: 750px;
	padding: 0px 60px 0 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#footerlinks a {
	color: #710909;
}

#footerlinks table{
	 width: 100%;
	border-collapse: collapse;
}

#footerlinks tr{
	line-height: 0px;
}

#footerlinks td{
	padding: 0 5px 0 5px;
}


#footer {
	width: 750px;
	padding: 0px 60px 0 60px;
	
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	color: #717171;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
}

/* --- Image gallery style start --- */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* --- Image gallery style end --- */