		<div id="footerlinks">
		<div id="linksbox" style="padding: 0 0 0 0px">
		<table width="768" border="0" cellpadding="5" cellspacing="0">
			<tr valign="top">
			<td>
				<div id="linkslabels">
					<p><a href="./team.html" style="font-size: 140%; color:#710909;">Team</a></p>
				</div>
			</td>
			<td>
				<div id="linkslabels">
					<p><a href="./papers.html"  style="font-size: 140%; color:#710909;">Papers</a></p>
				</div>
			</td>
			<td>
				<div id="linkslabels">
					<p><a href="./license.html"  style="font-size: 140%; color:#710909;">License</a></p>
				</div>
			</td>

			<td>
				<div id="linkslabels">
					<p><a href="http://sourceforge.net"  style="font-size: 140%; color:#710909;">Sourceforge</a></p>
				</div>
			</td>

			<td>
				<div id="linkslabels">
					<p><a href="https://github.com/repast"  style="font-size: 140%; color:#710909;">Github</a></p>
				</div>
			</td>
			</tr>


			<tr valign="top">
			<td>
				<div id="footerlinkslabels">
					<p><a href="/"  style="font-size: 140%; color:#710909;">Repast Suite</a></p>
				</div>
			</td>
			<td>
                                <div id="footerlinkslabels">
                                        <p><a href="/screenshots.html"  style="font-size: 140%; color:#710909;">Screenshots</a></p>
                                </div>
			</td>
			<td>
                                <div id="footerlinkslabels">
                                        <p><a href="/docs.html"  style="font-size: 140%; color:#710909;">Documentation</a></p>
                                </div>
			</td>
			<td>
                                <div id="footerlinkslabels">
                                        <p><a href="/download.html"  style="font-size: 140%; color:#710909;">Downloads</ascreenshots></p>
                                </div>
			</td>
			<td>
                                <div id="footerlinkslabels">
                                        <p><a href="/support.html"  style="font-size: 140%; color:#710909;">Support</a></p>
                                </div>
			</td>
			</tr>
		</table>
		</div>
</div>
