<div id="footerlinks">
	<div id="linksbox">
		<table>
			<tr valign="top">
				<td>
					<a href="/">Home</a>
				</td>
				<td>
					<a href="/download.html">Downloads</a>
				</td>
				<td>
					<a href="/docs.html">Documentation</a>
				</td>
				<td>
					<a href="/screenshots.html">Screenshots</a>
				</td>
				<td>
					<a href="/support.html">Support</a>
				</td>
			</tr>
	
			<tr valign="top">
				<td>
					<a href="./papers.html">Papers</a>
				</td>
				<td>
					<a href="./team.html">Team</a>
				</td>
				<td>
					<a href="https://github.com/repast">Github</a>
				</td>
				<td>
					<a href="./license.html">License</a>
				</td>
				<td>
					<a href="./docs/RepastFAQ/RepastFAQ.html">FAQ</a>
				</td>
			</tr>
		</table>
	</div>
</div>
