<div id="footerlinks">
	<div id="linksbox">
		<table>
			<tr valign="top">
				<td>
					<p><a href="/">Home</a></p>
				</td>
				<td>
					<p><a href="/download.html">Downloads</a></p>
				</td>
				<td>
					<p><a href="/docs.html">Documentation</a></p>
				</td>
				<td>
					<p><a href="/screenshots.html">Screenshots</a></p>
				</td>
				<td>
					<p><a href="/support.html">Support</a></p>
				</td>
			</tr>
	
			<tr valign="top">
				<td>
					<p><a href="./papers.html">Papers</a></p>
				</td>
				<td>
					<p><a href="./team.html">Team</a></p>
				</td>
				<td>
					<p><a href="https://github.com/repast">Github</a></p>
				</td>
				<td>
					<p><a href="./license.html">License</a></p>
				</td>
				<td>
					<p><a href="./docs/RepastFAQ/RepastFAQ.html">FAQ</a></p>
				</td>
			</tr>
		</table>
	</div>
</div>
